body{
    background-color: #f7f4ed;
    overflow-x: hidden;
    margin: 50px;
}


h1 {
    font-family: 'homemade apple';
    text-align: center;
    color:#0b1957;
}

h2{
    font-family: 'red hat text';
    color:#0b1957;
}





ul{
    font-family:'red hat text';
    left: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hope{
    font-family: 'red hat text';
    width:30%;
    transform: translate(190%, 200%);
    color:#0b1957;
}

.scott{
    font-family: 'red hat text';
    width:30%;
    transform: translate(190%, 480%);
    color:#0b1957;
}

.jeannette{
    font-family: 'red hat text';
    width:30%;
    transform: translate(190%, 1080%);
    color:#0b1957;
}



.active { 
    background-color:rgb(205, 81, 101)
}

.gallery img{
    width:30%;
    height:auto;
}

.footer{
    background-color: #f7f4ed;
}